@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */


@theme {
  --color-green-logo: #0f3d2e;
  --color-green-primary: #1f7a5a;
  --color-green-secondary: #298064;
  --color-green-chart-1: #298064;
  --color-green-chart-2: #339978;
  --color-green-chart-3: #3DB58E;
  --color-green-bg: #3E6F5D;
  --color-font-green: #7fbfa33d;
  --color-font2-green:#06241A;
  --color-greenbg:#56F6C2;
  --color-border-green: #29806459;
  --color-background-primary: #f8f8f8;
  --color-border-input: #E2E8F0;
  --color-border-card: #DBDBDB;
  --color-cardborder:#E9EAEB;
  --color-gray1: #767676;
  --color-gray2: #1a1a1a;
  --color-gray5: #838383;
  --color-gray7: #545454;
  --color-activebg: #ECFDF2;
  --color-active: #15803D;
}

@keyframes check-draw {
  from {
    stroke-dashoffset: 1;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.animate-check {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: check-draw 0.65s ease forwards;
  animation-fill-mode: forwards;
}

button:not(:disabled),
[role="button"]:not([aria-disabled="true"]),
input[type="button"]:not(:disabled),
input[type="submit"]:not(:disabled),
input[type="reset"]:not(:disabled),
summary,
a[href] {
  cursor: pointer;
}

button:disabled,
input:disabled,
select:disabled,
textarea:disabled,
[aria-disabled="true"] {
  cursor: not-allowed;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Google Maps InfoWindow custom styling */
.gm-style .gm-style-iw-c {
  padding: 0 !important;
  border-radius: 0 !important;
  background: transparent !important;
  box-shadow: none !important;
  overflow: visible !important;
  max-height: none !important;
}

.gm-style .gm-style-iw {
  overflow: visible !important;
  max-height: none !important;
}

.gm-style .gm-style-iw-d {
  overflow: visible !important;
  max-height: none !important;
}
.gm-style-iw-tc{
  display: none;
}
.gm-style .gm-style-iw-tc::after {
  display: none;
  background: transparent !important;
  box-shadow: none !important;
}

.gm-style .gm-style-iw button.gm-ui-hover-effect {
  display: none !important;
}

.gm-style .gm-style-iw button.gm-ui-hover-effect span {
  margin-top: -2px;
}